.bx--snippet {
  min-width: 0;
}

.peerIDField {
  max-width: 360px;
}

.peerIDField .bx--form-item {
  float: left;
  width: calc(100% - 40px);
}

.controlStep {
  margin: 12px 0;
}

#control ol {
  margin-left: 24px;
}

#control ol li {
  margin-top: 8px;
}

#outer {
  display: flex;
  flex-flow: column;
  height: 100%;
}

#view {
  max-height: calc(100% - 18px - 3.5rem - 252px);
  min-width: 100%;
  margin: 0;
  width: 0;
  flex: 1 1 auto;
  padding-top: 1.2rem;
}

#media {
  display: block;
  margin: 0 auto;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  background: #f4f4f4;
  border: #f4f4f4 3px solid;

  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#control {
  flex: 0 0 auto;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
}

body {
  height: 100vh;
}

@media only screen and (max-width: 671px) {
  #control {
    width: 94%;
  }
}

#watermark {
  display: flex;
  justify-content: flex-end;
  padding-right: 8px;
}
