body {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
}

.bx--header {
  position: static;
}

#stream_container {
  height: calc(100vh - 48px);
  height: calc(var(--vh, 1vh) * 100 - 48px);
}

#stream_container:focus {
  outline: none !important;
}

#record_icon {
  fill: red !important;
}
