body {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.bx--header {
  position: static;
}

#stream_container {
  height: calc(100vh - 48px);
  height: calc(var(--vh, 1vh) * 100 - 48px);
}

#record_icon {
  svg {
    fill: red !important;
  }
}
