body {
  height: 100vh;
}

/* Nav styles */
#page .bx--side-nav__items {
  padding: 0;
}
#page .bx--side-nav--rail:not(.bx--side-nav--expanded) {
  width: 0rem;
}

#page .bx--header__menu-toggle {
  display: none;
}

@media only screen and (max-width: 1056px) {
  #page .bx--header__menu-toggle {
    display: inline;
  }
}
