body {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.bx--grid {
  max-width: none;
  padding: 0;
}
.bx--row {
  margin: 0 !important;
}
.bx--row > div {
  padding: 0 !important;
}

#control {
  background-color: #262626;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}
